@charset "UTF-8";
/* 品牌介紹區塊 */
.brand-feature{
	width: 100%;
	margin: auto;
}
.brand-feature-block{
	width: 100%;
	margin: auto;
	font-family: 'Noto Serif TC','Hina Mincho', sans-serif;
}

/* 品牌故事 */
.brand-concept{
	width: 100%;
	margin: auto;
	position: relative;
	background-color: #fff;
}
.page-title{
	padding-top: 60px;
	width: 100%;
	background-color: #fff;
	position: relative;
}
.page-title h1{
	width: 92.5%;
	margin-right: auto;
	font-family:'Hina Mincho','Roboto', sans-serif;
	text-align: center;
	display: flex;
	font-weight: 400;
}
.page-title h1::before{
	content: "";
	border-bottom:#52323990 solid 1px;
	flex-grow:1 ;
	margin: auto 5% auto 0;
}

.brand-concept-video{
	position: relative;
	width: 85%;
	min-width: 384px;
	margin: 0 auto;
}

.brand-concept-video::before{
	content: "";
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 75%;
	display: block;
}
.brand-concept-video video{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	object-fit: cover;
	object-position: center center;
}
.brand-concept-txt{
	width: 85%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.brand-concept-txt h2{
	position: relative;
	box-sizing: border-box;
	padding: 10px 0;
}
.brand-concept-txt h2::before{
	content: "";
	display:block;
	width:20% ;
	border-bottom: #523239 1px solid;
	position: absolute;
	left: 0;
	bottom: 0;
}


.brand-concept-pic{
	position: relative;
	width:100%;
	margin: auto;
}
.brand-concept-pic::before{
	content: "";
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 50%;
	display: block;
}
.brand-concept-pic img{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	vertical-align: bottom;
	object-fit: cover;
	object-position: center;
}


.brand-story-block{
	width: 100%;
	margin: auto;
	background-color: #f2f0ed;
	position: relative;
}
.brand-story{
	width: 85%;
	margin:auto;
	padding: 15px 0;
}
.brand-story h2{
	position: relative;
	padding: 10px 0;
}
.brand-story h2::before{
	content: "";
	display:block;
	width:20% ;
	border-bottom: #523239 1px solid;
	position: absolute;
	left: 0;
	bottom: 0;
}
.brand-story p{
	padding-top:20px ;
}
@media screen and (min-width:768px) {
	.brand-concept{
		display: flex;
		align-items: stretch;
	}
	
	.brand-concept-video{
		position: relative;
		width: 30%;
		min-width: 300px;
		margin: 0;
	}
	.brand-concept-video::before{
		content: "";
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 150%;
		display: block;
	}

	
	.brand-concept-txt{
		width: auto;
		display: flex;
		flex-direction: column;
		font-size: 1.3rem;
		margin: 0;
		flex-grow: 1;
		padding: 0 0 0 25px;
	}
	.brand-concept-txt h2{
		display: flex;
		align-items: flex-end;
		position: relative;
		font-size: 2rem;
		padding: 0 0 20px 0;
	}
	.brand-concept-txt h2::after{
		content: "";
		background-color: #fff8cf;
		display:block;
		flex-grow: 1;
		height: 150px;
		margin-left: 100px;
	}
	.brand-concept-txt p{
		padding-top:20px ;
	}
	.brand-concept-pic{
		position: absolute;
		right: 0;
		top: 30%;
		width:40%;
		transform: translate(0,-50%);
	}
	.brand-concept-pic::before{
		padding-bottom: 70%;
	}
	
	.brand-story-block{
		width: 100%;
	}
	.brand-story{
		width: 50%;
		margin-left: 7.5%;
		margin-right: auto;
	}
}

/* 影片 */
.feature-video-block{
	padding: 50px 0;
	width: 100%;
	background-color: #fff;
}
.feature-video{
    position: relative;
	width: 100%;
	margin: auto;
}
.feature-video::before{
	position: relative;
	content: "";
	display: block;
	width:100%;
    height: 0;
    padding-bottom: 56.25%;
}

.fixed-big-bg{
	content: "";
	position: fixed;
	z-index: -10;
	display: block;
	width: 100%;
	height:100%;
	top: 0;
	right:0;
	left:0;
	bottom: 0;
	margin: auto;
	background-image:url(../images/all/big-bg-01.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
}
@media screen and (min-width:768px){
	.feature-video{
		width: 85%;
	}
}
/* 文章 */
.linear-bg{
	background: linear-gradient(to bottom, #fff, #fff0);
}
h2.feature-title{
	width: 85%;
	margin: auto;
	text-align: center;
	font-weight: 700;
	display: flex;
	padding-top: 25px;
	padding-bottom:25px ;
	/* 品牌介紹區塊邊界空白區域 間距 */
}
h2.feature-title::before{
	content: "";
	border-bottom:#aaa solid 1px;
	flex-grow:1 ;
	margin: auto 40px auto 0;
}
h2.feature-title::after{
	content: "";
	border-bottom:#aaa solid 1px;
	flex-grow:1 ;
	margin: auto 0 auto 40px;
}



.feature-ariticle-block{
	width: 100%;
	margin: auto;
	font-family: 'Noto Serif TC', serif,'Roboto', sans-serif;
	align-items: center;
	color: #523239;
	/* background-color: #fff; */
}
.feature-ariticle-container{
	width: 85%;
}
.brand-feature-txt{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.brand-feature-txt h3{
	font-size: 1.7rem;
	padding: 2% 0;
}
.brand-feature-txt p{
	font-size: 1rem;
	padding: 2% 0;
}
iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.feature-ariticle{
	padding: 20px 0;
}
.feature-ariticle:nth-last-of-type(odd){
	flex-direction: row-reverse;
}

.ariticle-txt-title{
	writing-mode: vertical-lr;
	font-size: 2rem;
	letter-spacing: 0.5rem;
	border-left:#523239aa 1.5px solid;
	padding: 0 5%;
}
.feature-ariticle:nth-last-of-type(odd) .ariticle-txt-title {
	border-right:#523239aa 1.5px solid;
	border-left:none;
}
.ariticle-txt{
	padding: 0 5%;
}
.ariticle-txt span{
	font-size: 1.1rem;
	font-weight: 600;
}
.feature-ariticle-txt{
	display: flex;
	align-items: center;
	font-size: 0.8rem;
}
.feature-ariticle:nth-last-of-type(even) .feature-ariticle-txt{
	flex-direction: row-reverse;
}


.feature-ariticle-pic{
	position: relative;
	width: 90%;
	margin: auto;
}
.feature-ariticle-pic::before{
	content: "";
	position: relative;
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 60%;
}
.feature-ariticle-pic img{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;

	object-fit: cover;
	object-position: center center;
	vertical-align: top;
}
@media screen and (min-width:768px) {
	.brand-feature{
		width: 100%;
		margin: auto;
	}
}
@media screen and (min-width:992px) {
	h2.feature-title{
		width: 85%;
		padding-top: 50px;
		padding-bottom:50px ;
	}
	.ariticle-txt span{
		font-size: 1.5rem;
		font-weight: 600;
	}
	.feature-ariticle-txt{
		display: flex;
		align-items: center;
		font-size: 1rem;
	}
}
