@charset "UTF-8";

/* 品牌介紹區塊 */
.brand-feature{
	width: 100%;
	margin: auto;
	margin-top: 100px;
	padding-top: 20px;
	background-image: url(../images/all/big-bg-01.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center bottom;
	color: #fff;
	text-shadow: 0.1em 0.1em 0.3em #000;
}
.brand-feature-block{
	width: 85%;
	margin: auto;
	font-family: 'Noto Serif TC', serif,'Roboto', sans-serif;
}

/* 文字加影片區塊 */
.brand-story{
	width: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.brand-story-video{
	position: relative;
	width: 50%;
	min-width: 384px;
	margin-bottom: 20px;
}

.brand-story-video::before{
	content: "";
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 80%;
	display: block;
}
.brand-story-video video{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	object-fit: cover;
	object-position: center center;
	border-radius: 5px;
}
.brand-story-txt{
	width: 50%;
	display: flex;
	flex-direction: column;
	line-height: 1.8em;
}
.brand-story-txt h3{
	font-size: 2em;
	margin-left: 10%;
	width: 70%;
	padding-bottom: 20px;
	border-bottom: #fff 1px solid;
}
.brand-story-txt p{
	font-size: 1.2em;
	padding-top: 20px;
	margin-left: 10%;
}


/* 影片 */
.feature-video-block{
	padding: 50px 0;
}
.feature-video{
    position: relative;
	width:100%;
}
.feature-video::before{
	position: relative;
	content: "";
	display: block;
	width:100%;
    height: 0;
    padding-bottom: 56.25%;
	background-color: #523239;
}
iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* 文章 */
.feature-ariticle-block{
	width: 100%;
	margin: auto;
	font-family: 'Noto Serif TC', serif,'Roboto', sans-serif;
	align-items: center;
	color: #fff;
	text-shadow: 0.2em 0.2em 0.3em #333;
}
.feature-ariticle{
	padding: 20px 0;
}
.feature-ariticle:nth-last-of-type(even){
	flex-direction: row-reverse;
}

.ariticle-txt-title{
	writing-mode: vertical-lr;
	font-size: 2.5em;
	letter-spacing: 0.3em;
	border-right:#fff 1px solid;
	padding: 0 5%;
}
.feature-ariticle:nth-last-of-type(even) .ariticle-txt-title {
	border-left:#fff 1px solid;
	border-right:none;
}
.ariticle-txt{
	padding: 0 5%;
}
.ariticle-txt span{
	font-size: 1.5em;
}
.feature-ariticle-txt{
	display: flex;
	align-items: center;
}
.feature-ariticle:nth-last-of-type(even) .feature-ariticle-txt{
	flex-direction: row-reverse;
}


.feature-ariticle-pic{
	position: relative;
	width: 90%;
	margin: auto;
}
.feature-ariticle-pic::before{
	content: "";
	position: relative;
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 75%;
}
.feature-ariticle-pic img{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
	object-position: center center;
	vertical-align: top;
}
.big-bg{
	width: 100%;
}