@charset "UTF-8";

/* 品牌介紹區塊 */
.brand-feature{
	width: 100%;
	margin: auto;
	margin-top: 100px;
	padding-top: 20px;
	background-image: url(../images/all/big-bg-01.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center bottom;
}
.brand-feature-block{
	width: 85%;
	margin: auto;
	font-family: 'Noto Serif TC', serif,'Roboto', sans-serif;
}

/* 文字加影片區塊 */
.brand-story{
	width: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.brand-story-video{
	position: relative;
	width: 50%;
	min-width: 384px;
	margin-bottom: 20px;
}

.brand-story-video::before{
	content: "";
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 80%;
	display: block;
}
.brand-story-video video{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	object-fit: cover;
	object-position: center center;
	border-radius: 5px;
}
.brand-story-txt{
	width: 50%;
	display: flex;
	flex-direction: column;
	line-height: 1.8em;
}
.brand-story-txt h3{
	font-size: 2em;
	margin-left: 10%;
	width: 70%;
	padding-bottom: 20px;
	border-bottom: #aaa 1px solid;
}
.brand-story-txt p{
	font-size: 1.2em;
	padding-top: 20px;
	margin-left: 10%;
}


/* 影片 */
.feature-video{
    position: relative;
	width:100%;
}
.feature-video::before{
	position: relative;
	content: "";
	display: block;
	width:100%;
    height: 0;
    padding-bottom: 56.25%;
	background-color: #523239;
}
iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* 文章 */
.feature-article-block{
	width:100%;
	margin: auto;
}
.feature-article{
	width:100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
	margin: auto;
	font-family: 'Noto Serif TC', serif,'Roboto', sans-serif;
}
.feature-article:nth-of-type(even){
	flex-direction: row-reverse;
}

h3.feature-article-title{
	width: 10%;
	writing-mode: vertical-rl;
	border-right: #523239 1px solid;
	margin: auto;
	font-size: 32px;
	letter-spacing:10px;
	/* 字型特別設定 */
	display: flex;
	align-items: center;
}

.feature-article:nth-of-type(even) h3{
	flex-direction: row-reverse;
	border-right:none;
	border-left: #523239 1px solid;
}
p.feature-article-item{
	flex-grow: 1;
	margin: auto;
	padding-left: 5%;
	line-height: 25px;
	letter-spacing:1px;
}
.feature-article:nth-of-type(even) p{
	text-align: right;
	flex-grow: 1;
	padding-left: 0;
	padding-right: 5%;
}
.feature-article span{
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
}
.feature-article-photo{
	width: 40%;
	min-width: 300px;
	text-align: center;
}
.feature-article-photo img{
	vertical-align: top;
	width: 100%;
	object-fit: cover;
	object-position: center center;
	border-radius:5px ;
}
.big-bg{
	width: 100%;
}