@charset "UTF-8";
@font-face {
	font-family: 'Hina Mincho';
	src: url('../fonts/HinaMincho-Regular.ttf')format("ttf");
  }
html{
	font-size: 14px;
}
body{
	margin: 0 auto;
	font-family: 'Noto Sans TC','Roboto',sans-serif;
	/* font-family: 'Noto Serif TC', serif,'Roboto', sans-serif; */
	letter-spacing:0.1em;
	line-height: 1.7;
	color: #523239;
	max-width: 1920px;
}
h1{
	font-size: 3rem;
}
h2{
	font-size: 1.8rem;
}
h3{
	font-size: 1.2rem;
}
p{
	font-size: 1rem;
}
a{
	text-decoration: none;
	color:#523239 ;
	display: inline-block;
}
img{
	vertical-align: bottom;
}
@media screen and (min-width:768px) {
	h1{
		font-size: 3.5rem;
	}
}
@media screen and (min-width:992px) {
	h1{
	font-size:  4rem;
	}

}
@media screen and (min-width:1200px) {
	h1{
	font-size: 5rem;
	}
}

/* 導覽列 */
header{
	width: 100%;
	height: 60px;
	margin: auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	/* font-family: 'Noto Serif TC', serif,'Roboto', sans-serif; */
	font-size: 1rem;
	z-index: 100;
	transition: .5s;
	background: #fff8cf;
	/* box-shadow: 0 2px 2px 0 #0004; */
	/* background-image: linear-gradient(45deg, #e6b980 0%, #eacda3 100%); */
	overflow: hidden;
}
.nav-block{
	width:85% ;
	height: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1440px;
	transition: 1.5s;
}
/* logo區 */
.logo img{
	width: 120px;
	vertical-align: top;
}

/* 導覽列區 */
.main-nav{
	display: flex;
	/* border-bottom: #fff 1px solid; */
	box-sizing: border-box;
}

/* 文字選單 */
.txt-menu{
	display: none;
}
.txt-menu li{
	height: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	border-bottom:#f1592200 2px solid ;
	display: flex;
	align-items: center;
	
}
.txt-menu li:hover{
	border-bottom:#f15922 2px solid ;
}


/* 圖片選單 */

.icon-menu{
	display: flex;
	position: relative;
	z-index: 30;
}
.icon-menu li{
	border-bottom:#f1592200 3px solid ;
	padding:0 5px;
}
.icon-menu img{
	height: 30px;
	vertical-align: bottom;
}
.icon-menu li:hover{
	border-bottom:#f15922 3px solid ;
}


.hamburger{
	width: 30px;
	height: 30px;
	position: relative;
}

/* 漢堡選單圖示 */
.hambergur-icon-open{
	width: 100%;
	height: 100%;
	border: none;
	background:none;
	position: relative;
	vertical-align:middle;
	border-radius: 1%;

	cursor: pointer;
}
.hambergur-icon-open::before{
	content:"" ;
	display: block;
	width: 80%;
	height: 5%;
	border-radius: 5px;
	margin: auto;
	background-color: #523239;
	position: absolute;
	bottom:75%;
	left:10%;
	transform-origin: 50% 50%;
	transition: 1s;
	box-shadow: 0 8px 0 0#523239;
}
.hambergur-icon-open::after{
	content:"" ;
	display: block;
	width: 80%;
	height:5%;
	border-radius: 5px;
	margin: auto;
	background-color: #523239;
	position: absolute;
	bottom: 20%;
	left:10%;
	transform-origin: 50% 50%;
	transition: 1s;
}
/*漢堡選單圖示-叉叉 */
.hambergur-icon-close{
	width: 100%;
	height: 100%;
	border: none;

	background:none;
	border-radius: 50%;
	/* box-shadow: 0 0 5px 0 #0005; */

	position: relative;
	vertical-align:middle;
	z-index: 20;

	transition: .5s;

	cursor: pointer;
}
.hambergur-icon-close::before{
	content:"" ;
	display: block;
	width: 80%;
	height: 5%;
	border-radius: 10px;
	margin: auto;
	background-color: #523239;
	position: absolute;
	bottom: 45%;/* 距離底部50% - 高度一半 */
	left:10%;
	transform-origin: 50% 50%;
	transition: 0.5s ease-in-out;
	box-shadow: 0 0 0 0#52323900;
	transform: rotate(0.125turn);
}
.hambergur-icon-close::after{
	content:"" ;
	display: block;
	width: 80%;
	height:5%;
	border-radius: 5px;
	margin: auto;
	background-color: #523239;
	position: absolute;
	bottom: 45%;
	left:10%;
	transform-origin: 50% 50%;
	transition: 0.5s ease-in-out;
	transform: rotate(-0.125turn);
}

/* 漢堡選單 */
.hamburger-block{
	position: fixed;
	top:60px;
	right:-500px;
	z-index: 10;

	
	padding-top: 10px;

	background: #ffe395;
	transition: 0.5s ease-in-out;
	opacity: 0;
	border-radius: 3px;
    overflow: hidden;
    box-shadow: 3px 3px 5px #0002;
}

.hambergur-menu>li+li{
	text-align: left;
	transition: all .1s ease-out;
	box-sizing: border-box;
	border-bottom: #d1b235 1px solid;
	/* border-top: #ffe88c 1px solid; */
}
.hambergur-menu>li:nth-child(2)~li{
	border-top: #ddd .3px solid;
}
.hambergur-menu>li+li>a:hover{
	color:#f15922;
}
.hambergur-menu>li>a{
	padding: 7px 0 7px 12px;
}
.submenu{
	max-height: 300px;
    transition: all .8s ease-out;
	background-color: #ff5100;
	width: 100%;
	overflow: hidden;
}
.submenu a{
	width: 100%;
	padding: 7px 0 7px 15px;

}


.submenu li{
	position: relative;
	left: 0;
	background-color: #fff8cf;
	transition: 0.3s;
}
.submenu li:hover{
	left: 5%;
}

#submenuSwitch{
	vertical-align: middle;
}
#submenuControl{
	transition: .6s ease-in-out;
}


.hambergur-search-bar{
	display: flex;
	align-items: stretch;
	justify-content: center;
	margin: auto;
	border: none;
	height: 100%;
	width: 90%;
}
.hambergur-search-txt{
	border: none;
	padding: 0 5px;
	background: #fff;
	width: 100%;
	border-radius: 5px;
}
.hambergur-search-btn{
	border: none;
	background: none;
	padding: 0;
}
.hambergur-search-btn img{
	width: 30px;
	height: 30px;
	vertical-align: bottom;
}

@media screen and (min-width:992px) {
	.txt-menu{
		display: flex;
	}
}
















/* 麵包屑 */
.breadcrumb{
	width: 85%;
	margin:auto;
	padding: 10px 0;
}
.breadcrumb-list{
	display: flex;
}
li.breadcrumb-item + li.breadcrumb-item::before{
	content: "/";
	margin: 0 5px;
}
li.breadcrumb-item a:hover{
	color: #f15922;
}

/* 單一商品區塊 */
.product-card{
	border-radius:5px;
	padding: 0.5em;
	box-sizing: border-box;
	height:100%;
	display: flex;
	flex-direction: column;
}
.product-pic{
	width: 100%;
	border-radius:5px;
	position: relative;
	overflow: hidden;
}
.product-pic::before{
	content: "";
	display: block;
	position: relative;
	top:0;
	width: 100%;
	height: 0;
	padding-bottom: 75%;
}
.product-pic img{
	border-radius:5px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left:50%;
	object-fit: cover;
	object-position: center bottom;
	transition: 0.5s;
	transform: translate(-50%,-50%);
}
.product-pic:hover img{
	width: 110%;
	height: 110%;
}
.cart-btn{
	position: absolute;
	bottom:5%;
	left: 0;
	right: 0;
	margin: auto;
	width: 90%;
	text-align: center;
	border-radius: 5px;
	color: #fff;
	padding: 2px 0;
	font-size: 1.2rem;
	background-color: #0006;
	transition: 0.3s;
}
.cart-btn:hover{
	background-color: #f15922dd;
}


.product-txt{
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-between;
	/* text-align: center; */
}
.product-txt h3{
	text-align: center;
}
.product-txt p{
	flex-grow: 1;
}
h3.product-title{
	font-weight: 700;
	padding: 3% 0;
}
.price-buy{
	color: #f15922;
	font-size: 1.2em;
	font-weight: 700;
	margin:auto;
	width: 100%;
}
.price-buy span{
	display: inline-block;
	text-align: center;
	width: 100%;
}
@media screen and (min-width:992px) {
	.cart-btn{
		position: absolute;
		bottom:-100%;
		width: 100%;
		text-align: center;
		border-radius: 5px;
		color: #fff;
		padding: 5px 0;
		font-size: 1.2em;
		background-color: #333a;
		transition: 0.3s;
	}
	.product-pic:hover .cart-btn{
		bottom:0;
	}
}
/* 頁尾 */
footer{
	width: 100%;
	margin:auto;
	padding-bottom: 10px;
	background-color: #bb9457;
}
.footer-block{
	width: 85%;
	margin:auto;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}
.footer-block a{
	color: #fff;
}
.followus{
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}
.followus li{
	margin:5px 10% 5px auto;
}
.followus img{
	width:40px;
	height:40px;
}
.footer-icon{
	display: inline-block;
	width: 30px;
	vertical-align: middle;
	color:#fff;
}
.policy{
	width: 85%;
	margin: auto;
	display: flex;
	justify-content: center;
}
.policy a{
	color: #fff7;
}
.policy li + li::before{
	content: "|";
	margin: 0 1em;
	color: #fff7;
}
.policy a:hover{
	color: #fff8cf;
}
.copy-right{
	width: 50%;
	margin: 10px auto;
	text-align: center;
	color: #52323955;
	font-size: 0.7rem;
}
@media screen and (min-width:992px) {
	.followus{
		flex-direction: row;
		justify-content: flex-end;
	}
	.followus li{
		margin:0 10% 0 auto;
	}
}