@charset "UTF-8";
main{
	width: 100%;
	margin: auto;
	margin-top: 100px;
	padding-bottom: 20px;
}
.contact-form{
	width: 85%;
	margin: auto;
	height: 50vh;
	/* background-image: url(../images/all/big-bg-01.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; */
}
.contact-form input[type="text"],
.contact-form input[type="tel"],
.contact-form input[type="email"],
.contact-form textarea{
	background: #aaa3;
	border: none;
	border-radius: 3px;
}
.contact-form-title{
	padding: 10px 0;
}
.map{
	width: 85%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.addres{
	width: 50%;
}
.addres h2{
	width: 50%;
	border-bottom:1px  #523239 solid;
	padding-bottom: 2%;
}
.addres li:nth-child(2){
	padding-top: 2%;
}
.location{
	width: 50%;
	position: relative;

}
.location::before{
	content: "";
	width: 100%;
	position: relative;
	padding-bottom: 70%;
	display: block;
}
.location iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}