@charset "UTF-8";

/* 主內容區塊 */
.main-content{
	width: 100%;
	margin:auto;
	position: relative;
}
.slider-item{
	width: 100vw;
	height: 80vw;
	overflow: hidden;
	object-fit: cover;
	object-position: center bottom;
}
.slider-item a{
	height: 100%;
	width: 100%;
}
.slider-item a img{
	height: 100%;
	object-position: center center;
	object-fit: cover;
}

.tilte-bg-video{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
	position: relative;
}
.tilte-cover{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 5rem;
	line-height: 3rem;
	color: #fff;
	background-image: linear-gradient(0deg,#fff,#fff3 20%);
	font-family:'Corinthia',Georgia, Times, 'Times New Roman', serif;

	text-shadow:
    0 0 5px rgba(247,155, 41,.1),
    0 0 10px rgba(247,155, 41,1),
    0 0 20px rgba(247,155, 41,1),
    0 0 40px rgba(247,155, 41,1),
	0 0 50px rgba(247,155, 41,1);

    animation:shinning 2s 1s linear infinite;
}
@keyframes shinning{
	0%{text-shadow:    
		0 0 5px rgba(247,155, 41,.1),
		0 0 10px rgba(247,155, 41,1),
		0 0 20px rgba(247,155, 41,1),
		0 0 40px rgba(247,155, 41,1),
		0 0 50px rgba(247,155, 41,1);
	}
	60%{text-shadow:    
		0 0 5px rgba(247,155, 41,0),
		0 0 10px rgba(247,155, 41,0),
		0 0 20px rgba(247,155, 41,0),
		0 0 40px rgba(247,155, 41,0),
		0 0 50px rgba(247,155, 41,0);
	}
	100%{text-shadow:    
		0 0 5px rgba(247,155, 41,.1),
		0 0 10px rgba(247,155, 41,1),
		0 0 20px rgba(247,155, 41,1),
		0 0 40px rgba(247,155, 41,1),
		0 0 50px rgba(247,155, 41,1);
	}
  }



.tilte-cover span{
	font-size: 2rem;
}
.owl-dots{
	width: 100%;
	position: absolute;
	bottom: 0;
}
.owl-theme .owl-dots .owl-dot span{
	box-shadow: 0 0 3px 0 #0009;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background:#f18622;
}
@media screen and (min-width:768px){
	.tilte-cover{
		font-size:8rem;
		line-height: 1em;
	}
	.tilte-cover span{
		font-size: 3rem;
	}
}
@media screen and (min-width:992px) {
	.slider-item{
		height: 45vw;
	}
	.tilte-cover{
		font-size: 8rem;
		line-height: 1em;

	}
	.tilte-cover span{
		font-size: 4rem;
	}
}



/* 熱門商品區塊 */
.hot-product{
	padding-top: 50px;
	padding-bottom:50px;
	background-color: #fff;
}
.product-block{
	width: 85%;
	margin: auto;
	/* 商品大區塊寬度 */
}
h2.hot-product-title{
	margin: 50px auto 0 auto;
	text-align: center;
	font-weight: 700;
	display: flex;
	padding-bottom:50px ;
}
h2.hot-product-title::before{
	content: "";
	border-bottom:#aaa solid 1px;
	flex-grow:1 ;
	margin: auto 40px auto 0;
}
h2.hot-product-title::after{
	content: "";
	border-bottom:#aaa solid 1px;
	flex-grow:1 ;
	margin: auto 0 auto 40px;
}
/* banner區塊 */

.banner{
	width: 100%;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
}
.banner::before{
	content: "";
	display: block;
	position: relative;
	width:100%;
	height: 0;
	padding-bottom:56.25% ;
}
.banner img{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	border-radius: 5px;
	object-fit: cover;
	object-position: center center;
	transition: 0.5s;
}
.banner:hover img{
	width: 110%;
	height: 110%;
}
.banner-txt{
	position: absolute;
	/* height: 20%;
	width: 40%; */
	padding:2% 5%;
	bottom: 10%;
	left: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: flex-start;
	border-radius: 3px;
	font-size: 1.3rem;
	font-family: 'Noto Serif TC', serif,'Roboto', sans-serif;
	background-color: #fff9;
	box-shadow: 0 0 5px 0 #aaa7;
}

p.more{
	width: 97.5%;
	max-width: 1440px;
	margin: auto;
	text-align: right;
}
.more a{
	display: inline-flex;
	justify-content: flex-end;
}
.more a::after{
	margin: auto 0 auto 10px;
	content: "";
	font-size: 0;
	border-left: 10px solid #523239 ;
	border-top: 5px solid #fff0;
	border-bottom: 5px solid #fff0;
}


/* 品牌介紹區塊 */
.fixed-big-bg{
	content: "";
	position: fixed;
	z-index: -10;
	display: block;
	width: 100%;
	height:100%;
	top: 0;
	right:0;
	left:0;
	bottom: 0;
	margin: auto;
	background-image:url(../images/all/big-bg-01.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
}
.brand-feature{
	width: 100%;
	margin: auto;
	padding-bottom: 50px;

}
.linear-bg{
	background: linear-gradient(to bottom, #fff, #fff0);
}
h2.feature-title{
	width: 95%;
	margin: auto;
	text-align: center;
	font-weight: 700;
	display: flex;
	padding-top: 25px;
	padding-bottom:25px ;
	/* 品牌介紹區塊邊界空白區域 間距 */
}
h2.feature-title::before{
	content: "";
	border-bottom:#aaa solid 1px;
	flex-grow:1 ;
	margin: auto 40px auto 0;
}
h2.feature-title::after{
	content: "";
	border-bottom:#aaa solid 1px;
	flex-grow:1 ;
	margin: auto 0 auto 40px;
}


/* 文章 */
.feature-ariticle-block{
	width: 95%;
	margin: auto;
	font-family: 'Noto Serif TC', serif, 'Hina Mincho', sans-serif;
	align-items: center;
	color: #523239;
	/* text-shadow: 0.1em 0.1em 0.2em #aaa9; */
}

.brand-feature-block{
	width: 100%;
	margin: auto;
	padding: 50px 0;
}
.brand-feature-txt{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.brand-feature-txt h3{
	font-size: 1.7rem;
	padding: 2% 0;
}
.brand-feature-txt p{
	font-size: 1rem;
	padding: 2% 0;
}
.feature-video-block{
	padding: 0;
}
.feature-video{
    position: relative;
	width: 100%;
}
.feature-video::before{
	position: relative;
	content: "";
	display: block;
	width:100%;
    height: 0;
    padding-bottom: 56.25%;
}
iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.feature-ariticle{
	padding: 20px 0;
}
.feature-ariticle:nth-last-of-type(even){
	flex-direction: row-reverse;
}

.ariticle-txt-title{
	writing-mode: vertical-lr;
	font-size: 2rem;
	letter-spacing: 0.5rem;
	border-right:#523239aa 1.5px solid;
	padding: 0 5%;
}
.feature-ariticle:nth-last-of-type(even) .ariticle-txt-title {
	border-left:#523239aa 1.5px solid;
	border-right:none;
}
.ariticle-txt{
	padding: 0 5%;
}
.ariticle-txt span{
	font-size: 1.1rem;
	font-weight: 600;
}
.feature-ariticle-txt{
	display: flex;
	align-items: center;
	font-size: 0.8rem;
}
.feature-ariticle:nth-last-of-type(even) .feature-ariticle-txt{
	flex-direction: row-reverse;
}


.feature-ariticle-pic{
	position: relative;
	width: 100%;
	margin: auto;
}
.feature-ariticle-pic::before{
	content: "";
	position: relative;
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 75%;
}
.feature-ariticle-pic img{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
	object-position: center center;
	vertical-align: top;
}
@media screen and (min-width:768px) {
	.brand-feature{
		width: 100%;
		margin: auto;
		padding-bottom: 50px;
		background-image: url(../images/all/big-bg-01.jpg);
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
	}
}
@media screen and (min-width:992px) {
	h2.feature-title{
		width: 85%;
		padding-top: 50px;
		padding-bottom:50px ;
	}
	.feature-ariticle-block{
		width: 85%;
	}
	.ariticle-txt span{
		font-size: 1.5rem;
		font-weight: 600;
	}
	.feature-ariticle-txt{
		display: flex;
		align-items: center;
		font-size: 1rem;
	}


}
