@charset "UTF-8";

/* 主內容區塊 */

/* 麵包屑 */
.breadcrumb{
	width: 85%;
	margin:100px auto 0 auto;
	padding: 10px 0;
}
.breadcrumb-list{
	display: flex;
}
li.breadcrumb-item + li.breadcrumb-item::before{
	content: "/";
	margin: 0 5px;
}
.all-product{
	display: flex;
	width: 85%;
	margin: auto;
}

.all-product{
	padding-bottom: 50px;
}

/* 側邊清單 */
.side-list{
	width: 20%;
	min-width: 150px;
	flex-shrink: 0;
}
.product-list h3{
	font-size: 1.1em;
	margin: 0.5em 0;
	font-weight: 600;
}
.product-list li{
	padding: 2% ;
	margin-left: 1em;
	border-left:1px #aaa solid;
	width: 70%;
}

/* 商品系列 */
.product-series{
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	align-content: flex-start;
}