@charset "UTF-8";
.page-title{
	/* padding-top: 60px; */
	width: 85%;
	margin: auto;
	font-family:'Hina Mincho','Roboto', sans-serif;
	text-align: center;
	display: flex;
	font-weight: 400;
	padding-top: 60px;
}
.page-title::before{
	content: "";
	border-bottom:#aaa solid 1px;
	flex-grow: 1;
	margin: auto 5% auto 0;
}

.product-banner{
	width: 85%;
	margin: auto;
	position: relative;
	/* overflow: hidden; */
}
.product-banner::before{
	content: "";
	display: block;
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 35%;
}
.product-banner img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center bottom;
}



.all-product{
	/* display: flex; */
	width: 85%;
	margin: auto;
}


/* 商品系列 */
.product-series{
	width: 100%;
	margin: auto;
}


@media screen and (min-width:992px) {
	.product-banner::before{
		content: "";
		display: block;
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 25%;
	}
}